<div class="container-panel">
  <div class="header">
    <h2 class="title mt-3">Users List</h2>
  </div>

  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <mat-form-field class="search-input" appearance="fill">
    <mat-label>Search with name or username</mat-label>
    <input matInput #searchInput placeholder="Search with name or username" >
  </mat-form-field>

  <app-user-card-list [users]="users" *ngIf="!loading"></app-user-card-list>
</div>

<mat-paginator
  (page)="handlePageEvent($event)"
  [length]="length"
  [pageSize]="pageSize"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  aria-label="Select page"
  class="paginator"
>
</mat-paginator>
